body {
  font-size: 15px;
  box-sizing: border-box;
}
.navbar
{
  color: grey;
  background-color: whitesmoke;
  border-bottom: 1px solid #b3cccc;
}

.navbar .far
{
  color: white;
}
.img-circle
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.image .img-circle
{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.info .d-block
{
  color: white;
}
.navbar-brand 
{
  
  color: black;
  font-weight: 500;
  
  padding-left: 30px;
}

.active
{
  cursor: pointer;
  border-left: 3px solid #ff65f6;
  background-color: transparent;
 
}
.main-sidebar
{ 
  background-color: transparent;
  margin-bottom: 150px;
}

.sidebar
{ 
  background-color: transparent;
  
}
.input-group 
{
  color: black;
  background-color: white;
}
.input-group .form-control
{
  color: black;
  background-color: white;
}

.sidebar .nav-link
{
  color: white;
 
}
.main-footer
{
  background-color: whitesmoke;
}
.fas .fa-bars
{
  color: black;
}
.box-side
{
  background-color: #cce6ff;
  margin-top: 1px;
  margin-left: 7px;
  margin-right: 5px;
}
.box-side:hover
{
  cursor: pointer;
  background-color:  #99b3ff;
  color: black;
  margin-top: 1px;
  margin-left: 7px;
  margin-right: 5px;
  font-weight: bold;
}

.menu-box
{
  
  border: 1px solid black;
  border-radius: 5px;
}
.sidebar-collapse
{
  color: black;
}
.sidebar-collapse .ul .li
{
  color: black;
}
.box-side .fas
{
  color: black;
}
.box-side .far
{
  color: transparent;
}
.box-side p
{
  color: black;
}

.box1-side
{
  background-color: #cce6ff;
  margin-top: 40px;
  margin-left: 7px;
  margin-right: 5px;
}
.box1-side p
{
  color: black;
}

.box1-side:hover
{
  background-color: #99b3ff;
  margin-top: 40px;
  margin-left: 7px;
  margin-right: 5px;
  font-weight: bold;
}

.box2-side p:hover
{
  color: whitesmoke;
}






